@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    user-zoom: none;
}

.warpper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background {
    transform: translateZ(-10px) scale(2.5);
}

.foreground {
    transform: translateZ(-5px) scale(1.5);
}

.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.title {
    font-size: 7rem;
    color: #fff;
    text-shadow: 0 0 5px black;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 4rem;
    }
}

section {
    text-align: center;
    padding: 2rem;
    background-color: #333;
    color: #fff;
}

section h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

section p {
    font-size: normal;
}
